.footer {
  height: 100vh;
  width: 100%;
  .subscribe {
    background: #eae3dd;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    .subscribe_title {
      font-family: font1;
      color: var(--color1);
      font-size: 1.4rem;
    }
    .inputForEmail {
      width: 250px;
      height: 30px;
      border: 2px solid var(--color1);
      font-size: 1rem;
      outline: none;
    }
    ::placeholder {
      padding-left: 1rem;
    }
    .send_btn {
      width: 70px;
      height: 35px;
      background-color: var(--color1);
      border: none;
      color: var(--color2);
      font-size: 1rem;
      cursor: pointer;
    }
  }
  .logo_slider {
    padding-top: 4rem;

    width: 90%;
    margin: auto;

    .slick-prev:before {
      content: "<";
      color: grey;
      font-size: 30px;
    }

    .slick-next:before {
      content: ">";
      color: rgb(76, 74, 74);
      font-size: 30px;
      font-weight: bold;
    }
  }
  .footer_background_img_container {
    position: relative;
    margin-top: 4rem;
    width: 100%;
   height: 400px;
   
    .footer_background_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: left bottom;
    }
    .footer_overlay {
      background: rgba(60, 44, 25, 0.7);
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      .footer_overlay_hidden {
        display: none;
        width: 100%;
        p {
          font-size: 0.7rem;
          font-weight: bold;
          color: var(--color2);
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          
        }
      }
      .overlay_section1 {
        display: flex;
        align-items: center;
        padding: 2rem 0 0 4rem;
        width: 50%;
        justify-content: space-between;
        .booking_com {
          color: var(--color2);
          font-size: 1.5rem;
          font-weight: bold;
          font-family: "Franklin Gothic Medium", "Arial Narrow", Arial,
            sans-serif;
        }
        .overlay_img_container {
          width: 130px;
          height: 130px;
          .overlay_img {
            width: 100%;
            height: 100%;
          }
        }
      }
      .overlay_section2 {
        margin-left: 5%;
        width: 50%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .overlay_section2_content {
          font-size: 0.8rem;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          line-height: 0;
          color: var(--color2);
          .footer_icons {
            margin-top: 1rem;
            display: flex;
            gap: 1.3rem;
            a {
              margin-top: 1rem;
              color: var(--color2);
              text-decoration: none;
              color: var(--color2);
              font-size: 1.4rem;
            }
          }

          .footer_gmail {
            text-decoration: underline;
          }
        }
        .overlay_section2_img2_container {
          width: 130px;
          height: 130;
          .overlay_section2_img2 {
            width: 100%;
            height: 100%;
          }
        }
      }
      .overlay_section3 {
        display: flex;
        justify-content: center;
        .overlay_section3_list {
          margin-top: 1rem;
          width: 100%;
          display: flex;
          justify-content: center;
          a {
            text-decoration: none;
            color: var(--color2);
            font-size: 0.8rem;
            font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
            border-left: 1px solid var(--color2);
            padding: 0 0.5rem;
          }
          .first_list_item {
            border: none;
          }
          a:hover {
            text-decoration: underline;
          }
        }
      }
      .overlay_section4 {
        .overlay_line {
          width: 100%;

          height: 1px;
          background-color: var(--color2);
          margin-top: 1.4rem;
        }
        .ltd {
          color: var(--color2);
          font-size: 0.9rem;
          display: flex;
          justify-content: space-between;

          padding: 0 2rem;
        }
      }
    }
  }
}

@media screen and(max-width:600px) {
  .footer {
    .subscribe {
      flex-direction: column;
      gap: 0;
      padding-bottom: 1rem;
    }
    .logo_slider {
      display: none;
    }
  }
}

@media screen and(max-width:900px) {
  .footer {
    .footer_background_img_container {
      height: 430px;
      .footer_overlay {
        .footer_overlay_active {
          display: none;
        }
    
        .footer_overlay_hidden {
          display: block;
        }
      }
    }
  }
}
@media screen and(max-width:600px){
  .footer {
    .footer_background_img_container {
      height: 490px;
      .footer_overlay {   
       .overlay_section4{
       .ltd{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
       }
       }
      }
    }
  }

}
