.contact {
  background-color: #f3efec;
  .background {
    width: 100%;
    height: 140px;
    .background_img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
    }
  }
  .title {
    margin: 0;
    padding: 2.3rem;
    font-family: font1;
    color: var(--color1);
    font-size: 3rem;
    text-align: center;
  }
  .contact_content_container {
    display: flex;
    align-items: center;
    padding-bottom: 2rem;
    .box_1 {
      flex: 1;
      .box_1_content {
        width: 80%;
        margin: auto;
        p {
          font-size: 1.1rem;
          color: var(--color1);
          display: flex;
          align-items: center;
          gap: 1rem;
          .icons {
            font-size: 2rem;
          }
        }
      }
    }
    .box_2 {
      flex: 1;
      p {
        color: var(--color1);
        font-family: font1;
        margin-bottom: 0.5rem;
        font-size: 1.2rem;
      }
      input {
        width: 90%;
        height: 35px;
        border: 2px solid var(--color1);
        box-sizing: border-box;
        outline: none;
        color: var(--color1);
        font-family: font1;
        font-size: 1.2rem;
      }
      textarea {
        max-width: 90%;
        min-width: 90%;
        min-height: 100px;
        max-height: 200px;
        border: 2px solid var(--color1);
        outline: none;
        color: var(--color1);
        font-family: font1;
        font-size: 1.2rem;
      }
      .send {
        margin-top: 1rem;
        width: 150px;
        height: 40px;
        border: 2px solid var(--color1);
        background-color: #f3efec;
        color: var(--color1);
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.3s;
      }
      .send:hover {
        background-color: var(--color1);
        color: var(--color2);
      }
      .successful{
        color: green;
        font-size: 1.5rem;
        display: flex;
        gap: 1rem;
        align-items: center; 

      }
    }
  }
}

@media screen and(max-width:600px){
.contact{
  .contact_content_container{
    flex-direction: column;
  }
}
}